<h1> Project Manager</h1>

<!-- <h2 id="board">Example lists</h2> -->
<!-- Lists: -->
<ul id="lists">

</ul>

<form id="addForm" class="control" >
	<input id="addLists" placeholder="Enter list..." type="text">
	<div class="container1">
		<button class="add_form_field">Add New Field &nbsp; +</button>
	</div>
	<input id="addCard" placeholder="Add card..." type="text">
	<input type="submit"></input>

</form>

<br><br><br><br><br><br><br><br><br><br><br><br>

<form id="addEdit" class="controlEdit" >
	<input type="submit" value="Confirm Edit"></input>
</form>
